html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  font: 300 20px/32px 'Raleway', sans-serif;
}
@media only screen and (max-width: 480px) {
  html {
    font: 300 16px/24px 'Raleway', sans-serif;
  }
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: #fff;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
.text-container {
  position: absolute;
  padding: 2em;
  max-width: 650px;
  margin-left: calc((100% - 4em - 600px) / 2);
  top: 5%;
  z-index: 101;
  text-align: center;
}
.title-text {
  font: 700 2.6rem/3.6rem 'Raleway', sans-serif;
}
@keyframes fade-search {
  100% {
    opacity: 0;
  }
}
@keyframes show-search {
  100% {
    opacity: 1;
  }
}
@keyframes scale-box {
  0% {
    width: calc(600px - 16em);
  }
  25% {
    width: calc(600px - 20em);
  }
  100% {
    width: calc(600px - 4em);
  }
}
.search {
  position: relative;
  margin: 0 auto;
}
input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  font: 300 1rem/1.5rem 'Raleway', sans-serif;
  color: #fff;
  padding: 4em 1em 1em;
  width: calc(600px - 16em);
}
input:focus {
  outline: none;
  animation: scale-box 0.6s ease-in;
  animation-fill-mode: forwards;
}
.search-icon:before {
  font-family: 'FontAwesome';
  content: "\f002";
  font-size: 32px;
  width: 12px;
  position: absolute;
  margin-left: calc(600px - 14em);
  margin-top: 2.5em;
}
